$cardtitle-font: .8rem;
$cardchannel-font: $cardtitle-font*.9;
$cardviews-font: $cardtitle-font*.9;
$lightgrey-view: #888888;
$li-item-margin: 0.6em 0;

figcaption{
    text-align: left;
    align-self: flex-start;
    font-size:1.5em;
}
h4{
    margin-top:0;
    margin-bottom:.2em;
    text-align:left;
}
figure{
    width:100%;
    //get rid of figure defaults
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: unset;
}

ul{
    padding:0;
    margin-left:.2em;
    list-style-type: none;
    align-self: flex-start;
}

.player{
    width: 58vw;
    height:auto;
    flex-grow:2.5;
    margin:0;
}

.video-figure{
    margin: 2em 0; 
}

.vid-review{
    margin-top:.6em;
    display: flex; 
    justify-content: space-between;
    font-size:.8em;
    &__opinions{
        display:flex;
        justify-content: space-between;
        font-size:.65em;
        div{
            margin-left:1.5em;
        }
    }
}

.card-figure{
    display:flex; 
    
}

.card-container{
    width:100%;
    overflow: hidden;
    &__image{
        width:12vw;
        object-fit: cover;
        object-position:-10% -10%;
    }
}

.card-list{
    margin: 2em 0; 
    margin-left:1em;
    display:flex;
    flex-direction: column;
}

.card{
    width:100%;
    height:17vh;
    margin:.5em 0;
}
.card-ul{
    margin-top:0;
}

.card-ul{
    height:  13vh;
    width:100%;
    
    &__title{
        font-size: $cardtitle-font;
        font-weight:bold;
    }
    &__channel{
        font-size: $cardchannel-font;
        color:$lightgrey-view;
        margin: $li-item-margin;
    }
    &__views{
        font-size: $cardviews-font;
        color:$lightgrey-view;
        margin: $li-item-margin;
    }
}
